
# Secrets
functions/serviceAccountKey.json
functions/src/googleAnalytics.js
.env
.env.local
.env.production

# Build output
dist/

# Dependencies
node_modules/
functions/node_modules/


.vercel


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md

# Next.js
.next/
next-env.d.ts
